<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{url_for('admin_dashboard')}}">Admin Console</a></h1>
        <h1>Welcome, {{ username }}!</h1>
        <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
    </header>
    <nav class="nav-admin">
        <ul>
            <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('view_transactions') }}">View Transactions</a></li>
            <li><a class="active" href="{{ url_for('add_user') }}">Add Bank Officer or Admin</a></li>
            <li><a href="{{ url_for('deposit_money') }}">Deposit Money</a></li>
            <li><a href="{{ url_for('approve_users') }}">Approve Customers</a></li>
        </ul>
    </nav>
    <main>
        <h1>Add New Bank Officer</h1>
        <br>
        <form method="POST" action="{{ url_for('create_user') }}" class="user-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required><br><br>

            <label for="contact">Contact Number:</label>
            <input type="tel" id="contact" name="contact" pattern="[0-9]{10}" maxlength="10" placeholder="Enter 10-digit phone number" required><br><br>

            <label for="ssn">SSN:</label>
            <input type="password" id="ssn" name="ssn" pattern="[0-9]{9}" maxlength="9" required placeholder="Enter 9-digit SSN"><br><br>

            <label for="id_number">ID Number (Driver's License or State ID):</label>
<input type="text" id="id_number" name="id_number"
       pattern="[A-Z]{1}[0-9]{2}-[0-9]{2}-[0-9]{4}"
       maxlength="10" required placeholder="L00-00-0000">
<br><br>


            <label for="role">Role:</label>
            <select id="role" name="role" disabled>
                <option value="bankofficer" selected>Bank Officer</option>
            </select><br><br>

            <button type="submit">Add Bank Officer</button>
        </form>
    </main>
    <footer>
        <!-- Footer Content -->
    </footer>
</body>
</html>
