<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <header>
        <h1>Admin Console</h1>
        <h1>Welcome, {{ username }}!</h1>
        <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
    </header>

    <main>
        <section class="admin-actions">
            <h2>Admin Actions</h2>
            <ul>
                <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
                <li><a href="{{ url_for('view_transactions') }}">View Transactions</a></li>
                {% if username == 'admin' %}
                    <li><a href="{{ url_for('add_user') }}">Add Bank Officer</a></li>
                {% endif %}
                <li><a href="{{ url_for('deposit_money') }}">Deposit Money</a></li>
                <li><a href="{{ url_for('approve_users') }}">Approve Customers</a></li>
            </ul>
            <img src="{{ url_for('static', filename='admin.gif') }}" width="50%">
        </section>

        {% if username == 'admin' %}
        <section class="admin-summary">
            <h2>Admin Summary</h2>
            <div class="summary-item">
                <h3>Total Users</h3>
                <p>{{ total_users }}</p>
            </div>
            <div class="summary-item">
                <h3>Bank Officers</h3>
                <p>{{ bank_officers }}</p>
            </div>
            <div class="summary-item">
                <h3>Total Transactions</h3>
                <p>{{ total_transactions }}</p>
            </div>
        </section>
        {% endif %}
    </main>

    <script src="dashboard.js"></script> <!-- Link to your JavaScript file for interactivity -->
</body>
</html>
