<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{url_for('admin_dashboard')}}">Admin Console</a></h1>
    <h1>Welcome, {{ username }}!</h1>
    <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
    </header>
<nav class="nav-admin">
        <ul>
                <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
                <li><a href="{{ url_for('view_transactions') }}">View Transactions</a></li>
                <li><a href="{{ url_for('add_user') }}">Add Bank Officer or Admin</a></li>
                <li><a href="{{ url_for('deposit_money') }}">Deposit Money</a></li> <!-- New link for depositing money -->
                <li><a class="active" href="{{ url_for('approve_users') }}">Approve Customers</a></li>

                <!-- Add more admin-specific actions as needed -->
            </ul>
    </nav>
    <main>
         <h1>Approve Users</h1><br>
        <table>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
<tr>
    <form method="POST" action="{{ url_for('approve_users') }}">
        <td>{{ user.username }}</td>
        <td>{{ user.fname or user.name or 'N/A' }}</td>
        <td>{{ user.lname or 'N/A' }}</td>
        <td>
            <a href="{{ url_for('approve_user', user_id=user._id) }}" style="color: white;">View Details</a>
    </td>
        </td>
    </form>
</tr>
{% endfor %}
        </table>
    </main>

    <footer>
        <!-- Footer Content -->
    </footer>
</body>
</html>
